/* Layout */

/*
nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 30px 15px;

  h1 {
    position: relative;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    strong {
      display: block;
      position: relative;
      z-index: 2;
      font-weight: 400;
      font-size: 18px;
      font-family: "NanumSquare";
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      width: 40px;
      height: 40px;
      background-color: $color-bg-opacity-5;
      @include border-radius(50%);
    }
    &::before {
      left: 50%;
      margin-left: -10px;
    }
    &::after {
      right: 50%;
      margin-right: -10px;
    }
  }

  #lnb {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    margin-top: 20px;
    ul {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      position: relative;
      z-index: 2;
      top: 5px;
      width: 100%;
      li {
        position: relative;
        &.logout {
          margin-top: auto;
        }
        a {
          display: flex;
          align-items: center;
          position: relative;
          left: 0;
          width: 100%;
          height: 40px;

          padding: 10px 10px 10px 15px;
          color: $color-txt-opacity-7;
          font: {
            weight: 400;
            size: 1.3em;
            family: "Lato";
          }
          em {
            vertical-align: middle;
          }
          .mdi + em {
            margin-left: 7px;
          }
          &.router-link-active {
            left: -20px;
            color: $color-bg;
            -webkit-transition: left 0.3s, color 0.1s;
            -moz-transition: left 0.3s, color 0.1s;
            -o-transition: left 0.3s, color 0.1s;
            transition: left 0.3s, color 0.1s;
            span,
            em {
              scale: 1.1;
              -webkit-transition: scale 0.2s;
              -moz-transition: scale 0.2s;
              -o-transition: scale 0.2s;
              transition: scale 0.2s;
            }
          }
        }
      }
    }
    .slide-bar {
      position: absolute;
      top: 0;
      right: 15px;
      left: -35px;
      z-index: 1;
      height: 50px;
      background-color: $color-slidebar;
      transition: top 0.2s ease-out;
      box-shadow: 0 0 10px $color-bg-opacity-5;
      @include border-radius(30px);
      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 7px);
        right: -22px;
        width: 15px;
        height: 15px;
        background-color: $color-slidebar;
        box-shadow: 0 0 10px $color-bg-opacity-5;
        @include border-radius(15px);
      }
    }
  }
}
*/

/* Common */
[class*="type--number"] {
  strong {
    font-size: 30px;
    vertical-align: top;
    & + span {
      display: inline-block;
      margin: {
        top: 8px;
        left: 3px;
      }
    }
  }
}
